body {
    // font-family:  gasp;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "gasp";
    src: url("../../public/font-bold.otf") format("opentype");
    /* font-weight: 500; */
    font-style: normal;
    //   font-display: swap;
}

@font-face {
    font-family: "gasp2";
    src: url("../../public/font-medium.otf") format("opentype");
    /* font-weight: 500; */
    font-style: normal;
    //   font-display: swap;
}

@font-face {
    font-family: "gasp3";
    src: url("../../public/font-less.otf") format("opentype");
    /* font-weight: 500; */
    font-style: normal;
    //   font-display: swap;
}



h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 1px;
    font-family: "gasp";
}

p {
    font-family: "gasp2";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

}

span {
    font-family: "gasp3";
    font-weight: 400;
    font-size: 12px;
    // font-family: gasp;
    color: #F6F6F6BF;
    opacity: 75%;
}

a {
    font-family: 'gasp3';
    font-weight: 400;
}

button {
    font-family: 'gasp2';
}


.mint-btn {
    position: relative;
    padding: 12px 40px;
    border-radius: 9999px;
    font-weight: bold;
    color: white;
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.one::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(circle at 10% 200%, rgba(255, 255, 255, 0.3), transparent 30%);

}
.after-class::after{
     content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(circle at 70% -30%, rgba(255, 255, 255, 0.3), transparent 30%);
}

.two::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(circle at 90% -80%, rgba(255, 255, 255, 0.3), transparent 30%);

}


.shadows {
    box-shadow: 10px 0px 17px 0px rgba(255, 255, 255, 0.3);
    //  z-index: 10;
}


.sub-shadow {
    background: white;
    filter: blur(10px);
    position: absolute;
    height: 12px;
    top: 32px;
    width: 20px;
    left: -1px;
    z-index: -1;

}


.main-shadow-demo {
    position: absolute;
    top: 0px;

    left: 75%;
    width: 20px;
    height: 30px;
    background: #E4E4E4;
    filter: blur(10px);
    z-index: -1;
}

.sub-shadow-demo {
    position: absolute;
    top: 33%;
    left: 0%;
    width: 20px;
    height: 30px;
    background: #E4E4E4;
    filter: blur(10px);
    z-index: -1;
}

.btn::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(circle at 10% 210%, rgba(255, 255, 255, 0.3), transparent 30%);

}

.drop_down {
    position: absolute;
    right: 0;
    top: 30%;
    padding-right: 10px;
}